/* 基本样式 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f7; /* 浅灰色背景 */
    color: #1d1d1f; /* 深色字体 */
}

a {
    text-decoration: none;
    color: #0071e3; /* 链接字体颜色 */
}

a:hover {
    color: #005bb5; /* 链接悬停颜色 */
}

/* 按钮样式 */
button {
    transition: background-color 0.3s ease;
    background-color: #0071e3;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #005bb5;
}

/* 输入框样式 */
input, select, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

/* 背景颜色和文字颜色的修改 */
.bg-appleBg {
    background-color: #f5f5f7;
}

.text-appleText {
    color: #1d1d1f;
}

.text-appleSub {
    color: #6e6e73;
}

/* 卡片背景 */
.bg-appleCard {
    background-color: rgba(255, 255, 255, 0.82); /* 半透明白色 */
}

/* 苹果蓝色 */
.bg-appleBlue {
    background-color: #0071e3;
}

.text-appleBlue {
    color: #0071e3;
}

/* 边框颜色 */
.border-appleBorder {
    border-color: rgba(0, 0, 0, 0.06);
}